.gradle
build/
out/
.DS_Store
.settings
.project
.classpath
.factorypathci/credentials.yml
ci/credentials.yml
node_modules/
*.log
**/mesh.log*
.idea
*.iml
local.properties
**/target/**

backend_php/forum/

frontend/src/assets/images/front_images/

frontend/static/images/front_images/

frontend/static/images/kuban_front1.png

frontend/static/
